.mypage
  .title
    マイページ
  .user_contents
    .userInfo
      .userInfo_title
        ユーザー情報
      .nickname
        nickname
      .email
        email
    .postInfo
      投稿履歴
    = link_to "/posts/:id/edit", class: "edit__btn" do
      編集する