.header
  .header-contents
    .title 
      .mainTitle Cookture
      .subTitle ~料理の画像投稿サイト~
    .genres
      .pasta Pasta
      .pizza Pizza
      .salad Salad
      .alacarte A la carte
      .other Other