.mainPage
  .genreList
    .genreName
      %p Pasta
      %p Pizza
      %p Salad
      %p A la carte
      %p Other
  .genreList__contents
    .genreList__content
      .genreList__content__picture コンテンツ写真<!縦に５品まで、それ以上はページ遷移>
      .genreList__content__text 
        %p レシピ
        %p レシピ
        %p レシピ
      .genreList__content__edit 編集ボタン  <!=link_toで>