.mainPage
  .genreList
    .genreName
      %p Pasta
      %p Pizza
      %p Salad
      %p A la carte
      %p Other
  - @items.each do |item|
    = render @messages
  = link_to "/posts/:id/edit", class: "edit__btn" do
    編集する