.footer {
  color: red;
  background-color: lightyellow;
  .footer-contents {
    height: 200px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      width: auto;
      height: 80px;
      .mainTitle {
        font-size: 30px;
        padding-left: 20px;
        text-shadow: 1px 1px 20px;
      }
      .subTitle {
        width: 200px;
        text-shadow: 3px 3px 20px;
      }
    }
  }
}


