.header {
  height: 140px;
  background-color: lightyellow;
  .header-contents {
    padding-top: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    .title {
      width: 300px;
      padding-left: 70px;
      color: red;
      .mainTitle {
        font-size: 35px;
        padding-left: 15px;
        text-shadow: 1px 1px 20px;
      }
      .subTitle {
        font-size: 18px;
        text-shadow: 3px 3px 15px;
      }
    }
    .genres {
      font-size: 25px;
      font-family: fantasy;
      color: orangered;
      width: calc(100vw - 300px);
      display: flex;
      justify-content: space-around;
    }
    .rogIn {
      width: 70px;
      font-size: 10px;
      padding-right: 10px;
    }
    .signUp__btn {
      width: 70px;
      font-size: 10px;
      padding-right: 10px;
    }
  }
}
