.mainPage {
  height: 1000px;
  display: flex;
  .genreList {
    width: 250px;
    height: 1000px;
    background-color: lightsteelblue;
    position: relative;
    .genreName {
      color: red;
      position: absolute;
      top: 40px;
      left: 40px;
      p {
        margin: 70px 0 0 30px;
        font-family: fantasy;
      }
    }
  }
  .edit__btn {
    position: absolute;
    right: 70px;
    color: red;
    text-decoration: none ;
    padding-top: 10px;
  }
}




