.postPage {
  color: mediumslateblue;
  text-align: center;
  background-color: pink;
  &__title {
    padding: 20px 0 20px 0;
  }
  &__contents {
    .image {
      .imageName {
        padding-bottom: 10px;
        &__box {
          &__input {
          text-align: center;
          padding-bottom: 20px;
          }
        }
      }
    }
    .menu {
      padding-bottom: 20px;
    }
    .genre {
      padding-bottom: 20px;
    }
    .recipe {
      padding-bottom: 20px;
      &__box__input {
        width: 400px;
        height: 250px;
      }
    }   
    .postBtn {
      padding-bottom: 50px;
      &__submit {
        margin-top: 20px;
      }
    }
  }
}