.updatePage {
  width: 500px;
  height: 500px;
  background-color: lightcyan;
  .text {
    color: orange;
    font-size: 15px;
    padding-top: 20px;
  }
  .backBtn {
    color: orange;
    font-size: 12px;
    padding-top: 20px;
  }
}


